
button {
  border: 2px solid black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

html * {
  font-family: Monospace;
}

p{
  font-size: 16px;
}

form{
  font-size: 16px;
}

a{
  text-decoration: none;
  color: black;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
}

tr{
  border: 1px solid black;
}

th{
  padding: 10px;
  border: 1px solid black;
}

td{
  padding: 10px;
  border: 1px solid black;
}